@using Simco.Infrastructure.Notification

<!DOCTYPE html>
<html>
<head>
    <title>Sistema de Información de Museos Colombianos (SIMCO)</title>

    @* Kendo *@
    <link href="@Url.Content("~/Content/kendo/2015.2.902/kendo.common-bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.2.902/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.2.902/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.2.902/kendo.bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.2.902/kendo.dataviz.bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/2015.2.902/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.2.902/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.2.902/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.2.902/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>

    @* chosen *@
    <link href="@Url.Content("~/Content/chosen.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/chosen.jquery.min.js")"></script>

    @* Simco *@
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/simco.css")" rel="stylesheet" type="text/css" />

    @* noty *@
    <script src="@Url.Content("~/Scripts/noty/jquery.noty.js")"></script>
    <script src="@Url.Content("~/Scripts/noty/packaged/jquery.noty.packaged.js")"></script>
    <script src="@Url.Content("~/Scripts/noty/layouts/top.js")"></script>
    <script src="@Url.Content("~/Scripts/noty/themes/relax.js")"></script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-35787551-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

    <script>
        $(document).ready(function () {
            $(".chosen").chosen();
        });
    </script>

    @RenderSection("scripts", required: false)

</head>
<body>

    <header>
        <div class="cabecera-colecciones">
            <div class="zlogo-simco">
                <a href="@Url.Action("Index", "Home")"><img src="~/Images/logosimco.jpg" border="0"></a>
            </div>
        </div>
    </header>

    <div class="cuerpo-interno">
        <section>
            @RenderBody()
        </section>
    </div>

    @*<div class="logosInterno">
        <img src="~/Images/mnc.png">
        <img src="~/Images/logo-presidencia.png">
    </div>

    <footer>
        <p>
            PROGRAMA FORTALECIMIENTO DE MUSEOS<br />
            MINISTERIO DE CULTURA<br />
            CARRERA 7 No. 28 - 66<br />
            Tel&eacute;fono: (57 + 1) 3816470 Ext. 2217 - 2214<br />
            Email: simco@museonacional.gov.co<br />
            BOGOT&Aacute; D.C. - COLOMBIA<br />
        </p>
    </footer>*@

    <div>
        @Html.RenderMessages()
    </div>
</body>
</html>
